<link href="/css/navbar.css" rel="stylesheet" type="text/css">
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/quote/list">List of Quotes</a></li>
        <li><a href="/quote/simulate">Quote Generator</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/report_sinister">Sinister ?</a></li>
    </ul>
</nav>