<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>About us </h1>
    <p>
    We're an innovating startup made of people who have 
    a strong sense of duty and firmly believe that no spaceship 
    should be left alone in the incredibly fascinating yet dangerous spatial void.  
    Find us and our brick and mortar premises in 
    <ul>
    <li> The Coruscant sector </li>    
    <li> The Kerbol System </li>
    <li> SCFTW-1 galaxy's system Stanton and NUL </li> 
    </ul>    
    </p>
  </body>
</html>