<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= message %>

    <div class="buttons">
      <button onClick = "redirect(event, '/auth/login')">Login</button>
      <button onClick = "redirect(event, '/quote/list')">List of Quotes</button>
      <button onClick = "redirect(event, '/quote/simulate')">Quote Generator</button>
      <button onClick = "redirect(event, '/about')">About Us</button>
    </div>

    <script>
      function redirect(e, url) {
        e.preventDefault();
        location.href = url;
      }
    </script>
  </body>
</html>