<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Galaxy Insurance</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <%= message %>

    <div class="buttons">
      <button id="login_btn" onClick = "redirect(event, '/auth/login')">Login</button>
      <button id="userhome_btn" onClick = "redirect(event, '/userhome')">Userhome</button>
      <button id="quote_btn" onClick = "redirect(event, '/quote/simulate')">Quote Generator</button>
      <button id="about_btn" onClick = "redirect(event, '/about')">About Us</button>
      <button id="contact_btn" onClick = "redirect(event, '/contact')">Contact Us</button>
      <button id="report_btn" onClick = "redirect(event, '/report_sinister')">REPORT A SINISTER</button>
    </div>

    <script>
      function redirect(e, url) {
        e.preventDefault();
        location.href = url;
      }

      async function hideLogin() {
        const result = await profileApiCall();
        if(result.ok){
          // User is connected
          document.getElementById('login_btn').style.display = 'none';
          document.getElementById('userhome_btn').style.display = 'block';
        }else{
          // User is not connected
          document.getElementById('login_btn').style.display = 'block';
          document.getElementById('userhome_btn').style.display = 'none';
        }
      }
      hideLogin()
    </script>
  </body>
</html>