<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= message %>

    <div class="buttons">
      <button onClick = "home(event)">Home</button>
      <button onClick = "login(event)">Login</button>
      <button onClick = "list(event)">List</button>
    </div>

    <script>
      const home = e => {
        e.preventDefault();
        location.href = 'https://www.google.com/';
      }

      const login = e => {
        e.preventDefault();
        location.href = '/front';
      }

      const list = e => {
        e.preventDefault();
        location.href = '/front/list';
      }
    </script>
  </body>
</html>