<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Galaxy Insurance</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <ul>
        <% for (quote of quotes) { %>
            <li> <%= quote.name %>, <%= quote.address %>  </li>
          <% } %>
    </ul>
  </body>
</html>