<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
<main id="main-holder">
  <div>
    <h1 id="login-header">Login</h1>
    <form id="login-form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="login-form-field" placeholder="Username">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>
  </div>
  <a href="/auth/signup">No account ? Sign up here !</a>
</main>
</body>
</html>
<script>
  /* If user is already connected, redirect to user profile */
  const response = fetch("/profile", {
    method: 'GET',
    headers: { "Authorization": "Bearer " + sessionStorage.getItem("team_galaxy_access_token") }
  }).then(response => {
    if(response.ok){
      location.href = "/userhome";
    }
  });
</script>

<script>
  /* Set up la connection */
  const loginButton = document.getElementById("login-form-submit");
  loginButton.addEventListener("click", async (e) => {
    e.preventDefault();
    const username = document.getElementById('login-form').username.value;
    const password = document.getElementById('login-form').password.value;
    const response = await fetch("/auth/login", {
      method: 'POST',
      body: JSON.stringify({ "username": username, "password": password }),
      headers: { "Content-Type": "application/json" }
    });
    if (response.ok) {
      const data = await response.json()
      sessionStorage.setItem("team_galaxy_access_token",data.access_token);
      location.href = "/userhome";
    }else{
      alert("The username or the password is wrong");
    }
  });

</script>