<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<main id="main-holder">
  <h1 id="login-header">Login</h1>
  <form id="login-form">
    <input type="text" name="username" id="username" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">
  </form>
</main>
  <button id="show_profile">Show profile</button>
  <button id="log_out">Log out</button>
</body>
</html>
<script>
  /* Set up la connection */
  const loginButton = document.getElementById("login-form-submit");
  loginButton.addEventListener("click", async (e) => {
    e.preventDefault();
    const username = document.getElementById('login-form').username.value;
    const password = document.getElementById('login-form').password.value;
    const response = await fetch("http://52.47.117.181/auth/login", {
      method: 'POST',
      body: JSON.stringify({ "username": username, "password": password }),
      headers: { "Content-Type": "application/json" }
    });
    if (response.ok) {
      const data = await response.json()
      console.log(data.access_token);
      sessionStorage.setItem("team_galaxy_access_token",data.access_token);
      alert("Vous êtes désormais connecter avec l'accès token " + data.access_token)
    }
  });

  /* Exemple pour savoir si quelqu'un est connecter */
  const showProfileButton = document.getElementById("show_profile");
  showProfileButton.addEventListener("click", async (e) => {
    const response = await fetch("http://52.47.117.181/profile", {
      method: 'GET',
      headers: { "Authorization": "Bearer " + sessionStorage.getItem("team_galaxy_access_token") }
    });
    if (response.ok) {
      const data = await response.json()
      console.log(data.username);
      alert("Bonjour " + data.username);
    }else{
      alert("Merci de d'abord vous connecter !!!!");
    }
  })

  /* Exemple pour savoir si quelqu'un est connecter */
  const logOutButton = document.getElementById("log_out");
  logOutButton.addEventListener("click", async (e) => {
    sessionStorage.removeItem("team_galaxy_access_token");
    alert("Vous êtes déconnecté !");
  })
</script>