<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
<main id="main-holder">
</main>
</body>
</html>
<script>
  sessionStorage.removeItem("team_galaxy_access_token");
  location.href = "/";
</script>