<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Super Insurance</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
<H1>PROFILE MODIFICATION</H1>
<form id="modification-profile">
  <label for="username">User Name :</label>
  <input type="text" id="username" name="username" value="<%= username %>" required>
  <label for="email">E-mail&nbsp;:</label>
  <input type="email" id="email" name="email" value="<%= mail %>" required>
  <input type="submit" value="Modification confirmed" id="modification-profile-submit">
</form>
<script>
  const modificationProfileButton = document.getElementById("modification-profile-submit");
  modificationProfileButton.addEventListener("click", async (e) => {
    e.preventDefault();
    const username = document.getElementById('modification-profile').username.value;
    const email = document.getElementById('modification-profile').email.value;
    const response = await fetch("/userhome", {
      method: 'POST',
      body: JSON.stringify({ "username": username, "email": email }),
      headers: { "Content-Type": "application/json" }
    });
    if (response.ok) {
      location.href = '/userhome';
    }
  });
</script>

</body>
</html>