<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
  </head>
  <body>
      <ul>
        <li>Your name: <%= name %></li>
        <li>Your address: <%= address %></li>
        <li>Your email: <%= email %></li>
        <li>Your premium: <%= premium %></li>
      </ul>
  </body>
</html>