<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <title>Galaxy Insurance</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
<%= message %><br>
<%= notification %>

<form action=<%=`/report_sinister/report/${quote.id}`%> method="post">
    <br>
    <label>
        Date of the sinister :
        <input id="sinisterDate" type="date" name="sinisterDate" required>
    </label><br>
    <label>
        Sinister description:
        <textarea id="sinisterMessage" name="sinisterMessage" required></textarea>
    </label><br>
    <label>
        Sinister Cost as calculated by the pundit:
        <input type="number" id="damageValue"  name="damageValue" required>
    </label><br>

    <input type="submit">
</form>

</body>

</html>