<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Super Insurance</title>
</head>
<body>
<H1>HOMEPAGE USER</H1>
<div><%= data.message %></div>
<div><%- data.profile %></div>
<div class="buttons">
  <button onClick = "modification (event)">Modification profile</button>
</div>
<script>
  const modification = e => {
    e.preventDefault();
    location.href = 'userhome/modification/profile';
  }
</script>
<H2>Your quotes : </H2>
<% for (quote of list_quote) { %>
  <li> <%= quote.name %>, <%= quote.address %>  </li>
<% } %>
</body>
</html>